@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato-Light.ttf");
}
body {
  font-family: "Lato";
  font-size: 100%;
}

*, *::before, *::after {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  outline: 0;
  text-rendering: optimizeLegibility;
  font-family: sans-serif;
}

blockquote {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

main, header, aside, img {
  display: block;
}

.navbar {
  position: fixed;
  background-color: rgb(231, 226, 221);
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
}
.navbar .container-fluid {
  padding: 0 1.5rem;
}
.navbar .container-fluid .basket-logo img {
  background-color: rgb(231, 226, 221);
  width: 40px;
  height: 40px;
}

header {
  min-height: calc(100vh - 60px);
  background-image: url(./images/hero-bcg.jpeg);
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .banner {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  display: inline-block;
  padding: 2rem;
}
header .banner .banner-title {
  font-weight: bold;
  font-family: "Lato", sans-serif;
  font-size: 3.4rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 3rem;
}
header .banner .banner-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  background: #f09d51;
  color: #222;
  border: 1px solid var(--primaryColor);
  transition: all 0.3s linear;
  cursor: pointer;
}

section {
  background: #faf9f9;
  font-family: "Lato", sans-serif;
  padding: 4rem 0;
}
section .section-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  font-weight: bold;
}
section .product-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}
section .product-center article .img-container {
  width: 275px;
  height: 192px;
  position: relative;
  overflow: hidden;
}
section .product-center article .img-container img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: all 0.3s linear;
}
section .product-center article .img-container .bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  height: 31px;
  background: #f09d51;
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  transition: all 0.3s linear;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
section .product-center article .img-container .bag-btn:hover {
  background: #f09d51;
  color: white;
}
section .product-center article .img-container .bag-btn span {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: small;
  padding-top: 3px;
}
section .product-center article h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: 0.1rem;
  text-align: center;
  font-weight: bold;
}
section .product-center article h4 {
  font-size: 0.9rem;
  margin-top: 0.7rem;
  letter-spacing: 0.1rem;
  color: #f09d51;
  text-align: center;
  font-weight: bold;
}
section .load-more {
  margin-top: 15px;
  bottom: 15px;
  padding: 8px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 3px solid #f09d51;
  font-size: large;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}
section .load-more:hover {
  background-color: #f09d51;
  color: white;
}

.card-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s linear;
  background: rgba(240, 157, 81, 0.5);
  z-index: 12;
  visibility: hidden;
}
.card-overlay .transparentBcg {
  visibility: visible;
}
.card-overlay .cart {
  position: fixed;
  right: 0;
  height: 100%;
  overflow-y: scroll;
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transition: all 0.3s linear;
  transform: translateX(100%);
  width: 30vw;
  min-width: 450px;
}
.card-overlay .cart::-webkit-scrollbar {
  width: 0;
}
.card-overlay .cart .close-cart {
  cursor: pointer;
}
.card-overlay .cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}
.card-overlay .cart .cart-content .cart-item {
  display: flex;
  margin-bottom: 12px;
}
.card-overlay .cart .cart-content .cart-item img {
  width: 75px;
  height: 75px;
}
.card-overlay .cart .cart-content .cart-item .price {
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-overlay .cart .cart-content .cart-item .price h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  font-weight: bold;
}
.card-overlay .cart .cart-content .cart-item .price h5 {
  font-size: 0.83em;
  letter-spacing: 0.1rem;
  font-weight: bold;
}
.card-overlay .cart .cart-content .cart-item .price .remove-item {
  color: gray;
}
.card-overlay .cart .cart-content .cart-item .amount {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}
.card-overlay .cart .cart-content .cart-item .amount svg {
  color: #f09d51;
}
.card-overlay .cart .cart-content .cart-item .amount p {
  margin-bottom: 0px !important;
  text-align: center;
}
.card-overlay .cart .cart-footer {
  margin-top: 2rem;
  text-align: center;
}
.card-overlay .cart .cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-size: 1.17em;
  font-weight: bold;
}
.card-overlay .cart .cart-footer button {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  background: #f09d51;
  color: #222;
  border: 1px solid #f09d51;
  transition: all 0.3s linear;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */